.style-b1{
    margin-top: 10px;
    border-radius: 12px;
    width:100px;
    height: 30px;
    font-weight: bold;
    background-color:green;
    color: white;
    font-family: monospace;
}

.style-b1:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color:orange;
    border-radius: 12px;
}

.style-b2{
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 15px;
    width:300px;
    height: 50px;
    font-weight: bold;
    background-color:yellow;
}
.style-b2:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color:red;
    border-radius: 12px;
}

.canvasGame {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.maxSize {
    width: 100%!important;
    height: 100%!important;
}

html, body {
    width: 100%!important;
    height: 100%!important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden; /*  Disable scrollbars */
    display: block; 
}