.style-b1{
    margin-top: 10px;
    border-radius: 12px;
    width:100px;
    height: 30px;
    font-weight: bold;
    background-color:yellow;
    color: black
    font-family: monospace;
}

.style-b1:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color:red;
    border-radius: 12px;
}
.style-b1:disabled{
    cursor: pointer;
    opacity: 0.5;
    background-color:orange;
    border-radius: 12px;
}

.style-b2{
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 15px;
    width:300px;
    height: 50px;
    font-weight: bold;
    background-color:rgb(12, 214, 62);
}
.style-b2:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color:yellow;
    border-radius: 12px;
}

.canvasGame {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.maxSize {
    width: 100%!important;
    height: 100%!important;
    min-width: 100%!important;
    min-height: 100%!important;
}

.dflex {
    display: flex;
    margin-top: 180px;
    z-index: 5;
}

.column {
    flex-direction: column;
}

.align_center {
    align-items: center;
    justify-content:center;
}

html, body {
    width: 100%!important;
    height: 100%!important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden; /*  Disable scrollbars */
    display: block; 
}
.style_gameOver{
    color:rgb(237, 253, 7);
    font-family: monospace;
    font-weight: bold;
    font-size: 80px;
    background-color: rgb(120, 25, 230);
    border-radius: 12px;
    z-index: 5!important;
}